GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MAIL_PASSWORD=
AUTH_CLIENT_SECRET=password-client
AUTH_PUBLIC_BASE_URL=http://localhost:8082
REMINDER_CLIENT_PUBLIC_BASE_URL=http://localhost:8081
JWT_COOKIE_SECURE=false
